/* || RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* || GLOBAL VARIABLES */
:root {
  --BODY-COLOR: #dbebfa;
  --BORDER-RADIUS: 15px;
  --COLOR-CARD: #79c3f84f;
  --HEADER-BG-COLOR: #007fdb;
  --HEADER-COLOR: white;
  --MARGIN-TOP: 1rem;
  --PADDING: 0.25rem 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--BODY-COLOR);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

video {
  display: block;
  height: auto;
  width: 100%;
}

figcaption,
.hello,
.my-photo h3,
legend {
  left: -100000px;
  position: absolute;
}

.nowrap {
  white-space: nowrap;
}

.warning {
  color: red;
  display: block;
}

.warning-input {
  animation: shake 0.3s linear 2;
  border: 2px solid red;
}

.outline-input {
  outline: 3px none red;
}

@keyframes shake {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

:is(button, input, textarea) {
  font: inherit;
}

input,
textarea {
  margin-inline: auto;
  width: min(100%, 350px);
}

label {
  display: block;
}

label::after {
  color: red;
  content: "*";
}

.header {
  background-color: var(--HEADER-BG-COLOR);
  color: var(--HEADER-COLOR);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-title-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: var(--PADDING);
}

.menu-button {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  background-color: var(--HEADER-COLOR);
  border-radius: 5px;
  height: 5px;
  position: absolute;
  transition: all 0.5s;
  width: 40px;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
}

.menu-icon::before {
  transform: translate(-20px, -12px);
}

.menu-icon::after {
  transform: translate(-20px, 12px);
}

/*
:is(header:hover, header:focus-within) .menu-icon {
  background-color: transparent;
  transform: rotate(720deg);
}
*/

.menu-icon.changed {
  background-color: transparent;
  transform: rotate(720deg);
}

/*
:is(header:hover, header:focus-within) .menu-icon::before {
  transform: translateX(-20px) rotate(45deg);
}
*/

.menu-icon.changed::before {
  transform: translateX(-20px) rotate(45deg);
}

/*
:is(header:hover, header:focus-within) .menu-icon::after {
  transform: translateX(-20px) rotate(-45deg);
}
*/

.menu-icon.changed::after {
  transform: translateX(-20px) rotate(-45deg);
}

/*
:is(header:hover, header:focus-within) .main-navigation {
  display: block;
}
*/

.main-navigation.display-menu {
  display: block;
}

header nav {
  animation: showMenu 0.5s ease-in-out forwards;
  background-color: var(--HEADER-BG-COLOR);
  display: none;
  transform-origin: top center;
}

@keyframes showMenu {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}

.main-navigation ul {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
}

.main-navigation li {
  border-top: 1px solid black;
  padding: 0.5rem;
}

.main-navigation a {
  display: block;
  margin: auto;
  text-align: center;
  width: 80%;
}

.main-navigation a:any-link {
  color: var(--HEADER-COLOR);
  font-weight: bold;
  text-decoration: none;
}

.main-navigation a:hover,
.main-navigation a:focus {
  transform: scale(1.2);
  transition: all 0.3s;
}

p {
  line-height: 1.3;
  text-align: center;
}

.social-media-links ul {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem 0px;
}

.social-media-links li {
  list-style-type: none;
}

.social-media-links a {
  text-decoration: none;
}

.social-media-links i {
  padding-top: 0.5rem;
  transform: scale(1.15);
  transition: all 0.5s;
}

.social-media-links i:hover,
.social-media-links i:focus {
  transform: scale(1.5);
}

.my-photo {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#hero {
  align-items: center;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  padding: var(--PADDING);
}

.introduction {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.hero-buttons {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 0.5rem;
  width: 100%;
}

.download-cv {
  background-color: var(--HEADER-BG-COLOR);
  border-radius: var(--BORDER-RADIUS);
  color: var(--HEADER-COLOR);
  display: block;
  font-weight: bold;
  padding: 0.9em;
  text-align: center;
  text-decoration: none;
  transition: all 1s 0.2s;
  width: min(100%, 158px);
}

.btn-contact {
  align-items: center;
  background-color: transparent;
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 0.9em;
  text-decoration: none;
  transition: all 1s 0.2s;
  width: min(100%, 158px);
}

.download-cv:hover,
.download-cv:focus {
  filter: brightness(1.4);
}

.btn-contact:any-link {
  color: rgb(25, 5, 176);
}

.btn-contact:hover,
.btn-contact:focus {
  background-color: var(--HEADER-BG-COLOR);
  border: 2px solid white;
  color: white;
  filter: brightness(1.4);
}

#about h2,
#about p {
  padding: var(--PADDING);
  text-align: center;
}

#about h2 {
  margin-top: var(--MARGIN-TOP);
}

.me {
  padding: 0.5rem 1rem;
}

.me img {
  border-radius: 50%;
  border: 6px double var(--HEADER-BG-COLOR);
}

section[id] {
  scroll-margin-top: 3.3rem;
}

.section-projects {
  margin-bottom: 0.5rem;
}

.projects-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  justify-content: center;
}

.section-title {
  margin-bottom: 0.5rem;
  margin-top: var(--MARGIN-TOP);
  padding: var(--PADDING);
  text-align: center;
}

.project-card {
  align-items: center;
  background-color: var(--COLOR-CARD);
  border-radius: var(--BORDER-RADIUS);
  border: 2px solid #333;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
  width: min(100%, 350px);
}

.project-card h3 {
  text-align: center;
}

.project-card figure {
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
  width: 100%;
}

.gallery-track {
  animation: slide 40s linear infinite;
  display: flex;
  width: max-content;
}

.gallery-track img {
  flex-shrink: 0;
  width: 350px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.tech-stack ul {
  align-items: end;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-evenly;
  list-style-type: none;
}

.tech-stack-ecommerce li:first-child::before {
  background-image: url("../icons/laravel-logo-lg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.2rem;
  margin-right: 0.45rem;
  transform: translateY(3px);
  width: 1.2rem;
}

.tech-stack-ecommerce li:nth-child(2)::before {
  background-image: url("../icons/php-logo-lg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.44rem;
  margin-right: 0.45rem;
  transform: translateY(5px);
  width: 1.44rem;
}

.tech-stack-ecommerce li:nth-child(3)::before {
  background-image: url("../icons/mysql.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.2rem;
  margin-right: 0.45rem;
  transform: translateY(3px);
  width: 1.2rem;
}

.tech-stack-ecommerce li:nth-child(4)::before {
  background-image: url("../icons/bootstrap-logo-lg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.44rem;
  margin-right: 0.45rem;
  transform: translateY(4px);
  width: 1.44rem;
}

.tech-stack-ecommerce li:last-child::before {
  background-image: url("../icons/js-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.1rem;
  margin-right: 0.45rem;
  transform: translateY(1.3px);
  width: 1.1rem;
}

.tech-stack-react li:first-child::before {
  background-image: url("../icons/react-logo-lg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.2rem;
  margin-right: 0.45rem;
  transform: translateY(3px);
  width: 1.2rem;
}

.tech-stack-react li:nth-child(2)::before {
  background-image: url("../icons/node-js-logo-lg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.2rem;
  margin-right: 0.45rem;
  transform: translateY(3px);
  width: 1.2rem;
}

.tech-stack-react li:nth-child(3)::before {
  background-image: url("../icons/node-js-logo-lg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.2rem;
  margin-right: 0.45rem;
  transform: translateY(4px);
  width: 1.2rem;
}

.tech-stack-react li:nth-child(4)::before {
  background-image: url("../icons/mysql.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.2rem;
  margin-right: 0.45rem;
  transform: translateY(3px);
  width: 1.2rem;
}

.tech-stack-react li:last-child::before {
  background-image: url("../icons/js-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.1rem;
  margin-right: 0.45rem;
  transform: translateY(2px);
  width: 1.1rem;
}

.tech-stack-java li:first-child::before {
  background-image: url("../icons/java-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.1rem;
  margin-right: 0.45rem;
  width: 1.1rem;
}

.tech-stack-java li:nth-child(2)::before {
  background-image: url("../icons/java-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.1rem;
  margin-right: 0.45rem;
  width: 1.1rem;
}

.tech-stack-java li:nth-child(3)::before {
  background-image: url("../icons/java-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.1rem;
  margin-right: 0.45rem;
  width: 1.1rem;
}

.tech-stack-java li:nth-child(4)::before {
  background-image: url("../icons/java-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.1rem;
  margin-right: 0.45rem;
  width: 1.1rem;
}

.tech-stack-java li:nth-child(5)::before {
  background-image: url("../icons/mysql.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.1rem;
  margin-right: 0.45rem;
  transform: translateY(2px);
  width: 1.1rem;
}

.tech-stack-java li:last-child::before {
  background-image: url("../icons/java-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.1rem;
  margin-right: 0.45rem;
  width: 1.1rem;
}

.buttons {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.buttons .show-demo {
  background-color: var(--HEADER-BG-COLOR);
  border-radius: var(--BORDER-RADIUS);
  border: none;
  color: var(--HEADER-COLOR);
  padding: 0.5em 0.8em;
  text-align: center;
  transition: all 0.5s;
  width: min(100%, 150px);
}

.buttons .show-code {
  align-items: center;
  background-color: black;
  border-radius: var(--BORDER-RADIUS);
  border: none;
  color: var(--HEADER-COLOR);
  display: block;
  display: flex;
  justify-content: center;
  padding: 0.5em 0.8em;
  text-decoration: none;
  transition: all 0.5s;
  width: min(100%, 150px);
}

.buttons .show-demo:hover,
.buttons .show-demo:hover:focus {
  cursor: pointer;
  filter: brightness(1.4);
}

.buttons .show-code:hover,
.buttons .show-code:focus {
  opacity: 0.6;
}

dialog {
  background-color: var(--HEADER-BG-COLOR);
  border-radius: var(--BORDER-RADIUS);
  border: 2px solid black;
  margin-inline: auto;
  opacity: 0;
  padding: 0.5rem;
  transform: scaleX(0);
  transition: all 0.7s allow-discrete;
  width: 97%;
  z-index: 2;
}

dialog:open {
  opacity: 1;
  transform: scaleX(1);
}

@starting-style {
  dialog:open {
    opacity: 0;
    transform: scaleX(0);
  }
}

.close-dialog {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin-left: auto;
}

.close-dialog::before {
  color: white;
  content: "X";
  font-weight: bold;
}

dialog p {
  color: rgb(248, 223, 182);
}

dialog a {
  color: #333;
  font-weight: bold;
}

#experience {
  padding: var(--PADDING);
  text-align: center;
}

#experience h2 {
  margin-top: var(--MARGIN-TOP);
}

#experience article {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#experience h3 {
  align-items: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: min(100%, 350px);
}

#experience h3 a {
  transform: translate(-3px, 13px);
}

#experience time,
.morelia {
  color: hsla(0, 0%, 0%, 0.8);
}

#experience ul {
  margin-top: 0.5rem;
  padding: 0.5rem 0 1rem 1rem;
}

#experience ul li {
  line-height: 2.1;
}

.muchaweb-logo {
  height: 3.1rem;
  transition: all 0.5s;
  width: 3.1rem;
}

.muchaweb-logo:hover,
.muchaweb-logo:focus {
  height: 3.5rem;
  width: 3.5rem;
}

#skills {
  padding: var(--PADDING);
}

#skills h2 {
  margin-top: var(--MARGIN-TOP);
  text-align: center;
}

.skills-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#skills article {
  background-color: var(--COLOR-CARD);
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin: 1rem auto;
  padding: 1rem;
  width: min(100%, 350px);
}

#skills ul {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-evenly;
  list-style-type: none;
}

#skills article h3 {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

#skills article h3 img {
  height: 1.25rem;
  width: 1.25rem;
}

:is(
  .front-end-card li:nth-child(3),
  .back-end-card li:first-child,
  .back-end-card li:nth-child(2),
  .back-end-card li:nth-child(5)
) {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.45rem;
}

.javascript-icon {
  height: 1.1rem;
  transform: translateY(-2px);
  width: 1.1rem;
}

.mongodb-icon::before {
  list-style-type: none;
}

.mongodb-icon::before {
  background-image: url("../icons/mongodb-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1.3rem;
  margin-right: 0.3rem;
  transform: translateY(4px);
  width: 1.3rem;
}

.java-icon,
.mysql-icon {
  height: 1.15rem;
  transform: translateY(-1px);
  width: 1.15rem;
}

.firebase-icon {
  height: 1rem;
  transform: translateY(-1px);
  width: 1rem;
}

.logo-link {
  color: inherit;
  text-decoration: none;
}

#contact h2 {
  margin-top: var(--MARGIN-TOP);
  text-align: center;
}

form {
  padding: 1rem;
}

fieldset {
  border: none;
}

form button {
  align-items: center;
  background-color: var(--HEADER-BG-COLOR);
  border-radius: 5px;
  border: none;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding: 0.4rem 0.3rem;
  width: min(100%, 4.5em);
}

.buttons-form {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

.buttons-form:hover,
.buttons-form:focus {
  filter: brightness(1.4);
}

.footer {
  align-items: center;
  background-color: var(--HEADER-BG-COLOR);
  bottom: 0;
  color: var(--HEADER-COLOR);
  display: flex;
  height: 3.8rem;
  justify-content: center;
  position: sticky;
}

@media screen and (min-width: 576px) {
  .me {
    width: min(100%, 400px);
  }

  .project-card {
    width: min(100%, 400px);
  }

  #experience h3 a {
    transform: translate(-7px, 15px);
  }

  .muchaweb-logo {
    height: 3.3rem;
    transition: all 0.5s;
    width: 3.3rem;
  }

  .muchaweb-logo:hover,
  .muchaweb-logo:focus {
    height: 3.6rem;
    width: 3.6rem;
  }

  #skills article {
    width: min(100%, 400px);
  }

  input,
  textarea {
    width: min(100%, 400px);
  }
}

@media screen and (min-width: 768px) {
  .me {
    width: min(100%, 360px);
  }

  .project-card {
    width: min(100%, 325px);
  }

  .projects-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  #skills article {
    width: min(100%, 325px);
  }

  .skills-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  input,
  textarea {
    width: min(100%, 400px);
  }
}

@media screen and (min-width: 992px) {
  .header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: static;
  }

  .menu-button {
    display: none;
  }

  header nav {
    animation: none;
    display: block;
  }

  .main-navigation ul {
    flex-flow: row nowrap;
  }

  .main-navigation li {
    border-top: none;
  }

  .main-navigation a {
    width: 100%;
  }

  .main-navigation a:hover,
  .main-navigation a:focus {
    background-color: white;
    color: #333;
  }

  #hero {
    flex-flow: row-reverse nowrap;
  }

  .social-media-links i {
    margin-inline: 0.2rem;
    transform: scale(1.3);
  }

  .social-media-links i:hover,
  .social-media-links i:focus {
    transform: scale(1.7);
  }

  .me {
    width: min(100%, 400px);
  }

  .project-card {
    width: min(100%, 400px);
  }

  .projects-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .muchaweb-logo {
    height: 3.3rem;
    width: 3.3rem;
  }

  .muchaweb-logo:hover,
  .muchaweb-logo:focus {
    height: 3.6rem;
    width: 3.6rem;
  }

  #skills article {
    width: min(100%, 400px);
  }

  .skills-container {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .footer {
    position: static;
  }

  input,
  textarea {
    width: min(100%, 450px);
  }
}

@media screen and (min-width: 1200px) {
  .me {
    width: 100%;
  }

  .project-card {
    width: min(calc(33% - 1rem), 500px);
  }

  #skills article {
    width: min(calc(33% - 1rem), 500px);
  }
}

@media screen and (max-height: 435px) and (orientation: landscape) {
  .me {
    height: auto;
    width: min(calc(33% - 0.25rem), 260px);
  }

  .download-cv {
    padding: 0.5em;
    width: min(100%, 140px);
  }

  .btn-contact {
    padding: 0.5em;
    width: min(100%, 140px);
  }

  .buttons .show-code {
    width: min(100%, 140px);
  }

  .buttons .show-demo {
    width: min(100%, 140px);
  }

  .project-card {
    width: min(calc(33% - 0.25rem), 200px);
  }

  .project-card img {
    height: auto;
    width: min(calc(33% - 0.25rem), 225px);
  }

  .projects-container {
    flex-flow: row wrap;
  }

  .footer {
    position: static;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --BODY-COLOR: #333;
    --COLOR-CARD: rgb(94, 90, 90);
    --HEADER-BG-COLOR: #000;
  }

  body {
    color: var(--HEADER-COLOR);
  }

  .main-navigation li {
    border-top: 1px solid var(--HEADER-COLOR);
  }

  .me img {
    border: 6px double var(--HEADER-BG-COLOR);
  }

  .btn-contact {
    background-color: white;
    color: #000;
  }

  .btn-contact:any-link {
    color: #000;
  }

  .download-cv:hover,
  .download-cv:focus {
    background-color: var(--COLOR-CARD);
  }

  .btn-contact:hover,
  .btn-contact:focus {
    background-color: var(--HEADER-BG-COLOR);
    border: 2px solid white;
    color: white;
    filter: brightness(1.4);
  }

  .buttons .show-demo:hover,
  .buttons .show-demo:hover:focus {
    background-color: var(--BODY-COLOR);
  }

  .buttons .show-code:hover,
  .buttons .show-code:focus {
    background-color: var(--BODY-COLOR);
  }

  #experience time,
  .morelia {
    color: hsla(0, 0%, 100%, 0.8);
  }

  .buttons-form:hover,
  .buttons-form:focus {
    background-color: var(--BODY-COLOR);
  }

  @media screen and (min-width: 992px) {
    .main-navigation li {
      border-top: none;
    }
  }
}
